* {
  box-sizing: border-box;
}

body  {
  background-color: #FFFEF2;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 900;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #D0483A;
  text-decoration: none; /*no underlining*/
}

a:hover,
a:focus /*keyboard-only users*/ {
  color: #277C7F;
  text-decoration: underline; /*underlining when hovering over link*/
}

a:visited {
  color: #113B44;
}

a:active {
  color: #75D4C0;
}

nav > ul > li > a:visited {
  color: #113B44;
}

nav > ul > li > a:active {
  color: #75D4C0;
}

nav > ul > li > a:hover,
nav > ul > li > a:focus /*keyboard-only users*/ {
  color: #277C7F;
  text-decoration: underline; /*underlining when hovering over link*/
}

.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30; /* width of the border, type, color */
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8; /* Reduces the opacity of the button to 80% */
  text-decoration: none;
}

.button:active {
  color: #75D4C0;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

.button.contact:active {
  background-color: #ff7f50;
  color: #75D4C0;
}

#hero-section {
  background-color: #FFFEF2/*#10EFF6*/;
  /*margin: 5px 5px 5px 5px;
  padding: 5px;*/
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#p {
  background-color: #FFFEF2/*#9EF5F8*/;
  padding: 0 15px;
}

.project-preview {
  margin: 5px 5px 5px 5px;
  padding: 5px;
}

#contact {
  background: #FFFEF2;
  margin: 5px 5px 5px 5px;
  padding: 5px;
}

.home {
  margin: 0px 0px 0px 0px;
  padding: 0px;
  background-color: #FFFEF2/*#F0F0F0*/;
}

#socials {
  display: inline-block;
  background-color: #FFFEF2;
  color: #FFFFFF;
  padding: 5px;
  transition: 0.2s opacity;
  width: 100%;
}

#follow {
  background-color: #FFFEF2;
}

.icon-width {
  display: inline-block;
  background-color: #FFFEF2;
  color: #FFFFFF;
  margin: 5px 5px 5px 5px;
  width: 50px;
}

#copyright {
  display: inline-block;
  background-color: #FFFEF2;
  width: 100%;
  margin: 0 auto;
}

.center-text {
  width: 100%;
  margin: 0 auto;
}

header {
  /*background-color: #56E13E;*/
  background-color: #FFFEF2;
  padding: 5px 5px 5px 5px; /* 10px - TOP; 5px - RIGHT; 15px - BOTTOM; 5px - LEFT -- CLOCKWISE*/
  /*
  Could also do...
  padding-top: 10px;
  padding-right: 5px;
  padding-bottom: 15px;
  padding-left: 5px;
  */
  margin: 5px;
  /*border-bottom: 3px solid #D0483A;*/
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.75);
  position: fixed;
  width: 100%;
}

footer {
  background-color: #FFFEF2/*#56E13E*/;
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

selector {
  margin: 0 auto;
}

selector {
  position: relative;
}

selector {
  float: right;
}

selector {
  width: 1200px;
}

selector {
  width: 80%;
}

/*Layout Styling*/

.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
  border-bottom: 1px solid #000000;
  padding: 0px 0px 25px 0px;
}

.logo {
  width: 200px;
  height: 100px;
  max-width: 250px;
  background-color: #FFFEF2/*#87FFC7*/;
}

#ul {
  background-color: #FFFEF2/*#87FFC7*/;
}

#work {
  background-color: #FFFEF2/*#F610EF*/;
}

#mudlark {
  background-color: #FFFEF2;
}

#littolens {
  background-color: #FFFEF2;
}

#hero h1 {
  text-align: center; /* Centers text */
  margin: 0;
  padding: 0.67em 0;
}

main {
  padding-top: 186px;
}

.center {
  text-align: center;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 10px;
  text-transform: lowercase;
  font-weight: 200;
  color: #4a4a4a;
}

nav {
  display: inline-block;
  width: 100%;
}

/*
Colors...
#D0483A
#FEF7CF
#75D4C0
#277C7F
#113B44
*/

/*
Typography...
h1-h6 = Poppins
p = Courier New
*/
